{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block body %}

    <h1 style="color: red">Users</h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="row">
            <div class="col-2">
                <a class="btn btn-success btn-sm" href="{{ path('user_new') }}">New</a>
            </div>
            <div class="col-4">
                <a class="btn btn-outline-primary btn-sm" href="{{ path('users_import') }}">Import Users</a>
                <a class="btn btn-outline-danger btn-sm" href="{{ path('user_delete_all_non_admin') }}">Delete Non-Admin</a>
            </div>
        </div>
    {% endif %}

    <br>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Verified</th>
            <th>Playing<br>Singles</th>
            <th>Playing<br>Doubles</th>
            <th>Paid<br>Amount</th>
            <th>Paid<br>To</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <i class="fa fa-hat-wizard"></i>
                        {% endif %}

                        {% if role == 'ROLE_USER' %}
                            <i class="fa fa-user"></i>
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="text-align: center">
                    {% if user.emailVerified == 1 %}
                        <i style="color: green" class="fa fa-check"></i>
                    {% else %}
                        <i style="color: red" class="fa fa-remove"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if user.playingSingles ==1 %}
                        <i style="color: blue" class="fa fa-user"></i>
                    {% else %}
                        {#                        <i style="color: red" class="fa fa-remove"></i> #}
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if user.playingDoubles ==1 %}
                        <i style="color: blue" class="fa fa-user-friends"></i>
                    {% else %}
                        {#                        <i style="color: red" class="fa fa-remove"></i> #}
                    {% endif %}
                </td>
                <td>
                    {{ user.paidAmount |number_format() }}
                </td>
                <td>
                    {{ user.paidTo }}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('user_edit', {fullName:user.fullName}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
