{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block body %}
    <h1 style="color: red">Users</h1>
    {% include 'user/parts/delete_and_import_and_export_buttons.html.twig' %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th style="border-right: 1px dotted">Roles</th>
            <th>Playing<br>Singles</th>
            <th>Playing<br>Doubles</th>
            <th style="border-right: 1px dotted">Doubles<br>Partner</th>
            <th>Owed</th>
            <th>Paid<br>Amount</th>
            <th>Paid<br>To</th>
            <th style="border-right: 1px dotted">Outstanding</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
        </tr>
        {% set total_singles = 0 %}
        {% set total_doubles = 0 %}
        {% set total_owed =0 %}
        {% set total_paid =0 %}

        {% set total_paid_to_SN =0 %}
        </thead>
        <tbody>
        {% for user in users %}
            {% set owed_by_player =0 %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    {% if user.emailVerified == 1 %}
                        <i style="color: green" class="fa fa-check"></i>
                    {% else %}
                        <i style="color: red" class="fa fa-remove"></i>
                    {% endif %}
                    {% if user.email == (user.firstName ~ user.lastName ~ 'NoEmail@no_email.com') %}
                        <span style="background-color: yellow">
                    {{ user.email }}
                </span>
                    {% else %}
                        <a href="mailto:{{ user.email }}">
                            <i class="fas fa-envelope"> </i></a>
                        {{ user.email }}
                    {% endif %}
                </td>
                <td>
                    {% if user.mobile is not empty %}
                        <a target="_blank"
                           href="https://wa.me/{{ user.mobile|replace({' ': ''}) }}">
                            <i class="fab fa-whatsapp" style="color:green; text-align: center"></i></a>
                        {{ user.mobile }}
                    {% endif %}
                </td>
                <td style="text-align: center; border-right: 1px dotted">
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <i title="ROLE_ADMIN" style="color: red" class="fa fa-hat-wizard"></i>
                        {% endif %}
                    {% endfor %}
                </td>

                <td style="text-align: center">
                    {% if user.playingSingles ==1 %}
                        <i style="color: green" class="fa fa-user"></i>
                        <a href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Singles', id: user.id}) }}">-</a>
                        {% set total_singles = total_singles+1 %}
                    {% else %}
                        <a href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Singles', id: user.id}) }}">+</a>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.playingDoubles ==1 %}
                        <i style="color: blue" class="fa fa-user-friends"></i>
                        <a href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Doubles', id: user.id}) }}">-</a>

                        {% set total_doubles = total_doubles +1 %}
                    {% else %}
                        <a href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Doubles', id: user.id}) }}">+</a>
                    {% endif %}
                </td>
                <td style="text-align: right; border-right: 1px dotted">
                    {% if user.doublesPartner is not null %}
                        {{ user.doublesPartner.fullName }}
                    {% endif %}
                </td>
                <td style="text-align: right">
                    {% if user.playingSingles == 1 %}
                        {% set owed_by_player = 50 %}
                    {% endif %}
                    {% if user.playingDoubles == 1 %}
                        {% set owed_by_player = owed_by_player + 50 %}
                    {% endif %}
                    {% if user.playingDoubles == 1 and user.playingSingles ==1 %}
                        {% set owed_by_player = owed_by_player -20 %}
                    {% endif %}
                    {% if owed_by_player >0 %}
                        {{ owed_by_player|number_format(0, '.', ',') }}
                    {% endif %}

                    {% set total_owed = total_owed + owed_by_player %}
                </td>

                <td style="text-align: right">
                    {% if user.paidAmount >0 %}
                        {{ user.paidAmount |number_format(0, '.', ',') }}
                    {% endif %}
                    {% set total_paid = total_paid + user.paidAmount %}
                </td>
                <td>
                    {{ user.paidTo }}
                    {% if user.paidTo =="SN" %}
                        {% set total_paid_to_SN = total_paid_to_SN+ user.paidAmount %}
                    {% endif %}
                </td>
                <td style="text-align: right; border-right: 1px dotted">
                    {% set outstanding_by_player = owed_by_player - user.paidAmount %}
                    {% if outstanding_by_player !=0 %}
                        {{ outstanding_by_player|number_format(0, '.', ',') }}
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('user_edit', {fullName:user.fullName}) }}">Edit</a>
                </td>
                <td>
                    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
                <td>
                    {% if user.playingSingles is not null or user.playingDoubles is not null %}
                        {% if user.paidAmount < 1 %}
                            <a class="btn btn-outline-primary btn-sm"
                               href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Pay SN 50', id: user.id}) }}">Paid
                                SN 50</a>
                            <a class="btn btn-outline-primary btn-sm"
                               href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Pay SN 80', id: user.id}) }}">Paid
                                SN 80</a>
                            <a class="btn btn-outline-primary btn-sm"
                               href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Pay NR 100', id: user.id}) }}">Paid
                                NR 100</a>
                        {% else %}
                            <a class="btn btn-outline-primary btn-sm"
                               href="{{ path('change_playing_singles_or_doubles', {singles_or_doubles: 'Reset payments', id: user.id}) }}">Reset
                                payments</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-1">
            <b>Singles:</b> {{ total_singles }}
        </div>
        <div class="col-1">
            <b>Doubles:</b> {{ total_doubles }}
        </div>
        <div class="col-1">
            <b>Total:</b> <br>
            <b>Paid:</b> <br>
            <b>Outstanding:</b> <br>
            <b>Collected by SN:</b>
        </div>
        <div class="col-1">
            € {{ total_owed|number_format(2, '.', ',') }}<br>
            <u> € {{ total_paid|number_format(2, '.', ',') }}</u><br>
            € {{ (total_owed - total_paid)|number_format(2, '.', ',') }}<br>
            € {{ total_paid_to_SN|number_format(2, '.', ',') }}
        </div>
    </div>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": true,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
